* {
    margin: 0;
}

.container {
    margin-top: 1rem;
}

.card-row {
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-body {
    background-color: antiquewhite;
}

.form-row {
    margin-left: 1rem;
    margin-bottom: 1rem;
}